.sidenav {
    width: 250px;
    background-color: #f8f9fa;
    height: 100vh;
    padding-top: 20px;
    transition: transform 0.3s ease;
}

.collapse {
    display: none; /* Ensure it's hidden when collapsed */
}